# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.dist-info/
.build/
dist/
build/

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# Caches & tooling
.cache/
pytestdebug.log
.pytest_cache/
.mypy_cache/
.coverage*
coverage.xml
htmlcov/

# Editors/IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Project artifacts
report.json
report.txt
*.pcap
*.pcapng

# Misc
.python-version
.egg-info
